[submodule "Atom"]
	path = Atom
	url = https://github.com/idleberg/atom-hopscotch
[submodule "Sublime Text"]
	path = Sublime Text
	url = https://github.com/idleberg/Hopscotch.tmTheme
[submodule "Brackets"]
	path = Brackets
	url = https://github.com/idleberg/brackets-hopscotch
