[submodule "Atom"]
	path = Atom
	url = https://github.com/idleberg/atom-hopscotch
[submodule "Sublime Text"]
	path = Sublime Text
	url = https://github.com/idleberg/Hopscotch.tmTheme
[submodule "Brackets"]
    path = Brackets
    url = https://github.com/idleberg/brackets-hopscotch
[submodule "Visual Studio Code"]
	path = Visual Studio Code
	url = https://github.com/idleberg/vscode-hopscotch
